<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.mydbsee.pic.MyDbSeeApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.mydbsee.pic.MyDbSeePerspective"
            id="org.mydbsee.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="org.mydbsee.pic.views.View"
            id="org.mydbsee.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="org.mydbsee.pic.views.NavigationView"
            id="org.mydbsee.navigationView">
      </view>
      <view
            class="org.mydbsee.pic.views.Test01View"
            id="org.mydbsee.pic.views.Test01View"
            name="New ViewPart01">
      </view>
      <view
            class="org.mydbsee.pic.views.aaa"
            id="org.mydbsee.pic.views.aaa"
            name="New ViewPart">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="org.mydbsee.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.mydbsee.category"
            id="org.mydbsee.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="org.mydbsee.category"
            id="org.mydbsee.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.mydbsee.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="org.mydbsee.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.mydbsee.application"
            name="DbSee RCP Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="AppPref.ini">
         </property>
         <property
               name="startupProgressRect"
               value="1,279,453,15">
         </property>
         <property
               name="startupForegroundColor"
               value="FF8000">
         </property>
         <property
               name="startupMessageRect"
               value="6,260,200,16">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.mydbsee.intro">
      </intro>
      <introProductBinding
            introId="org.mydbsee.intro"
            productId="org.mydbsee.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.mydbsee.intro"
            content="introContent.xml"
            id="org.mydbsee.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="org.mydbsee.configId">
      </configExtension>
   </extension>

</plugin>
